/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  width: 40px;
}

.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(168, 239, 255, 0.9);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: rgb(168, 239, 255, 0.9);
  transition: all 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content h1 {
  font-size: 8rem;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(168, 239, 255, 1);
  color: transparent;
  transition: all 0.5s ease;
}

.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: translateY(-5px);
}

.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    rgb(168, 239, 255, 1) 20deg,
    transparent 150deg
  );
  width: 400%;
  height: 400%;
  border-radius: 5px;
  animation: rotate 3s linear infinite;
}

.light::after {
  content: "Explore";
  position: absolute;
  width: 170px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 4/3) {
  .background-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 900px) {
  header {
    padding: 1.3rem 5%;
  }

  .content h1 {
    font-size: 7rem;
  }
}

@media (max-width: 700px) {
  header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height:auto;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 2rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .nav-item:hover::after {
    width: auto;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

@media (max-width: 620px) {
  .content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  .content h1 {
    font-size: 3rem;
  }
  
  .btn {
    width: 130px;
  }
  
  .light::after {
    width: 120px;
    font-size: 0.9rem;
  }
} */

/* -------------------------------------------Banner Slider--------------------------------------------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
  /* font-family: "Lora", serif; */
  font-family: "DM Sans", sans-serif;
  /* font-style: italic; */
  /* letter-spacing: 0.75px; */
}

.mian-logo > span {
  font-size: 1.35em;
}
.main-header {
   z-index: 999;
}
hr.border-light {
  max-width: 300px;
  opacity: 0.9;
}
.carousel-item {
   transition: transform 1s ease-in-out;
}
.carousel-caption {
   top: 48%;
   transform: translate(0, -50%);
   bottom: auto;
   left: 0;
   right: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center !important;
}
.carousel-item.active .carousel-caption  {
   animation: widthSlide 3.5s 1;
   opacity: 1;
    z-index: 999;
    width: 100% ;
}
@keyframes widthSlide {
   0% {
       width: 0% ;
       opacity: 0;
  }
 50% {
      width: 100% ;
       opacity: 1;
  }
   100% {
       width: 100% ;
       opacity: 1;
  }
}
.carousel-caption h5 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  /* -webkit-text-stroke: 2px #E2FADB; */
  color: #ffffff;
  position: relative;
  width: fit-content;
  padding: 10px;
  text-align: center !important;
}
.carousel-caption h5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  bottom: -20px;
  opacity: 1;
  text-align: center !important;
}
.carousel-item.active .carousel-caption h5:after {
  width: 10%;
  height: 5px;
  animation: titleCover 2.5s 1;
  opacity: 0;
  text-align: center !important;
}

@keyframes titleCover {
   0% {
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
     opacity: 1;
  }
 20% {
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
     opacity: 1;
  }
 30% {
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
  }
  55% {
      left: 0;
      right: 0;
      width: 100%;
      height: 5px;
      opacity: 1;
  }
 95% {
      left: 0;
      right: 0;
      width: 10%;
  }
   100% {
      left: 0;
      right: 0;
      width: 10%;
      opacity: 0.5;
  }
}
.carousel-item > img {
  height: 90vh;
  object-fit:fill;
  width: 100%;
  /* max-width: 1500px; */
  transform: scale(1);
}
.carousel-item.active > img {
  transform: scale(4);
  animation: bgScale 200s 1;
}
@keyframes bgScale {
0% {
    transform: scale(1);
  }
100% {
    transform: scale(4);
  }
}
.carousel-item:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgb(0 0 0 / 40%);
   z-index: 99;
   text-align: center !important;
}

.carousel-caption p {
   font-size: 1em;
   font-weight: 600;
   /* text-transform: uppercase; */
   text-align: left !important;
}
.carousel-caption * {
   white-space: nowrap;
    text-align: left !important;
}
.carousel-indicators {
  right: 10px;
  left: auto;
  margin: 0;
  width: 25px;
  flex-wrap: wrap;
  bottom: auto;
  top: 45%;
  transform: translate(0, -50%);
  gap: 10px;
  z-index: 9999;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
}


.banner-caption-vw{
  padding:70px
}
.button_slide {
  color: black;
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 13.5px;
  font-weight:500;
  letter-spacing: 0.75px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top:24px;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 rgb(63, 63, 63);
  color: white;
}
@media screen and (max-width: 767.99px) {
  .banner-caption-vw{
      padding:10px;
      
  }
.carousel-caption h5 {
  font-size: 2em;
}
.carousel-caption p {
  font-size: 13px;
  font-weight: 500;
}
.carousel-item img {
  height: 70vh;
}
.mian-logo > span {
  font-size: 1em;
}
.carousel-indicators {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  flex-wrap: nowrap;
  top: auto;
  transform: unset;
  width: auto;
  gap: 5px;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
}
}


/* ------------------------------Footer--------------------------------------- */
.footer-bg-clr{
  background-color: rgb(17, 68, 136);
  padding:20px;
}

.footer-title-name{
  color:#fff;
  font-size:25px;
  font-weight: 600;
  margin-top:20px;

}
.footer-linkvw{
  color:#c7c7c7;
  font-weight: 500;
  font-size:16px;
  margin-top:5px;
  cursor: pointer;
}
.footer-linkvw:hover{
  color:rgb(235, 193, 8);
}
.ftr-tagline{
  border-top:solid 2px rgb(141, 224, 6);
  width:100px;
  margin-bottom:20px;
}

.pht-imgglry{
  border:solid 1.5px white;
  padding: 6px;
  border-radius: 10px;
}

.ftr-frm-input{
  width:100%;
  padding:8px;
  border-radius: 3px;
  background-color:rgb(235, 235, 235);
 font-size:13px;
 font-weight: 500;
  border:solid 1px #c7c7c7;
}

.ftr-frm-button{
  background-color: rgb(6, 40, 85);
  color:white;
  padding-left:20px;
  padding-right:20px;
  padding-top: 4px;
  padding-bottom: 4px;
  width:100%;
  border:solid 1px rgb(6, 40, 85);
  margin-top:10px;
  border-radius: 3px;
}

.ftr-topline-vw{
  border-top:solid 1px #c7c7c7;
  margin-top:15px;
  margin-bottom:15px;
}
.ftr-copy-fntvw{
  font-size:14px;
  font-weight: 500;
  text-align: center;
  color:#c7c7c7;
}

.ftr-socialicon{
  font-size:16px;
  border:solid 1px #f1f1f1;
  background-color: transparent;
  color:white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}

.ftr-socialicon:hover{
  background-color: rgb(208, 238, 161);
  color:black
}


.catgory-boxvw{
  background-color: #e7e7e7;
  padding: 60px;
  height: 70vh;
}

.cate-box-vws{
  background-color: white;
  box-shadow:2px 2px 10px 3px rgb(224, 224, 224);
  border:solid 1px #c7c7c7;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.cate-box-vws:hover{
  background-color: rgb(233, 242, 247);
}

.explr-cate-topvws{
  margin-top:80px
}
.image-iconvws{
  width:100%;
  max-width:75px;
  height:75px;
  margin:auto;
}
.faq-section-bg{
  background-color: #e7eefc;
  padding-bottom:30px;
  margin-top:40px;
}
.accordion-button {
  font-size:16px;
  font-weight: 600;
  color:black;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-item {
  font-size: 15.5px;
  font-weight: 500;
  color:rgb(34, 34, 34);
  letter-spacing: 0.75px;
  text-align: justify;
}
.accordion-button:not(.collapsed) {
box-shadow: none !important;
background-color: rgb(6, 40, 85);
color:white;
}

.feat-explr-btns{
  background-color: transparent;
  border:solid 1px rgb(224, 6, 6);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color:rgb(224, 6, 6);
}
.feat-explr-btns:hover{
  background-color:rgb(26, 25, 25);
  color:white;
  border:solid 1px rgb(26, 25, 25);
}
.property-box-vw{
  display: flex;
  justify-content: space-between;
}
.sldr-imgdesrpt{
  font-size:14px;
  font-weight: 500;
  margin-top:10px;
  background-color: #ecf1ff;
  padding-left:10px;
  padding-right: 10px;
  padding-top:2px;
  padding-bottom: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(235, 235, 235);
}
.slder-title-sz{
  font-size: 23px;
  font-weight: 700;
  margin-top:5px;
}
.slder-para-titlefnt{
  font-size:16px;
  font-weight: 500;
  color:rgb(83, 83, 83);
}
.slder-boximgsize{
  width: 100%;
  height:380px;
}
.slder-contentbox{
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
 
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: rgba(211, 211, 211, 0.76);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.top-right{
  position: absolute;
 top: 0px;
  right: 0px;
  background-color: rgba(231, 1, 1, 0.836);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px; 
  color:white;
  /* margin-top:5px; */
}

.about-img img {
  position: relative;
  z-index: 2;
  height:450px;
  width: 100%;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 126);
  transform: skew(-20deg);
  z-index: 1;
}

.testi-slide-box{
  background-color: #ffffff;
  padding: 15px;
  border:dashed 2px rgb(17, 43, 129);
  box-shadow: 2px 2px 10px 5px rgb(238, 238, 238);
}
.testi-img-icon{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.checkin-inputbx{
  width: 100%;
  border:solid 1px rgb(151, 151, 151);
  border-radius: 5px;
  font-size:15px;
  font-weight: 500;
  padding:8px;
  color:rgb(49, 49, 49);
  margin-top:5px;
}
.checkin-label{
  font-size:20px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

/* -----------------------------Navbar--------------------------------------- */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.header-nav{
  position:sticky;
  top:0;
  z-index: 1000;
}
.navbar{
    /* box-shadow: 2px 5px 1px 0px #dbdbdb; */
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.95;
    z-index: 100;

}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 18px;
    margin-top:10px;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    /* color: rgb(17, 68, 136); */  
    color:#DC3545;
}

.rental-frm-btns{
  background-color: rgb(1, 1, 126);
  color:rgb(235, 235, 235);
  margin-top:40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom:13px;
  border:solid 1px rgb(1, 1, 126);
  border-radius:10px;
  font-size:16px;
  font-weight: 600;
  box-shadow: 2px 2px 10px 3px rgb(228, 228, 228);
}
.rental-cnt-btns{
  background-color: rgb(17, 17, 17);
  color:rgb(235, 235, 235);
  margin-top:40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom:13px;
  border:solid 1px rgb(17, 17, 17);
  border-radius:10px;
  font-size:16px;
  font-weight: 600;
  box-shadow: 2px 2px 10px 3px rgb(228, 228, 228);
}
@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        min-width: 450px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}



@media only screen and (max-width:767.99px){
  .footer-bg-clr{
    padding:0px;
  }
  .catgory-boxvw{
    background-color: #e7e7e7;
    padding: 40px;
    height: auto;
  }
  .explr-cate-topvws{
    margin-top:0px
  }
  .property-box-vw{
    display:block;
  }
  .feat-explr-btns{
 width: 100%;
 margin-top:10px;
  }
  .about-img img {
    height:auto;
  }
}